<div class="content">
  <div class="row justify-content-between">
    <div class="col-md-8 left">
      <h5 class="text-center" style="margin: 10px 0;">
        Các khóa học của giáo viên {{teacher?.teacher_name}}
      </h5>
      <div style="margin: 20px 0;" *ngFor="let item of courses">
        <div class="card" routerLink="/course/{{item.course_id}}">
          <div class="card-body">
            <h5 class="card-title">
              <img src="../../assets/ebook.svg" height="30px;" width="30px">{{item.course_name}}</h5>
            <p class="card-text">{{item.course_description}}</p>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px" class="pagination justify-content-center" *ngIf="courses.length > 0">
        <ngb-pagination [collectionSize]="totalPages" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
          (pageChange)="nextPage()"></ngb-pagination>
      </div>
      <div class="text-center" *ngIf="!(courses.length > 0)" style="margin-top: 70px">
        <p>chưa có khóa học nào !</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="right text-center">
        <h5>
          Thông tin giáo viên
        </h5>
        <img src="{{teacher?.photo_url}}" alt="avatar">
        <ul class="text-left">
          <li>Tên :
            <i>{{teacher?.teacher_name}}</i>
          </li>
          <li>Email:
            <i>{{teacher?.teacher_email}}</i>
          </li>
          <li>Ngày sinh:
            <i>{{teacher?.date_of_birth ? teacher.date_of_birth : 'chưa có'}}</i>
          </li>
          <li>
            Giới thiệu :
            <i>{{teacher?.about ? teacher.about : 'chưa có'}}</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>