<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/books.svg" alt="" height="30px" width="30px;"> Quản lý khóa học</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto" *ngIf="islogin | async">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Thống kê</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/course/list" routerLinkActive="active">Khóa học</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="!(islogin | async)">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Liên hệ</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!(islogin | async)">
      <li class="nav-item ">
        <a class="nav-link " routerLink="/login" routerLinkActive="active ">Đăng nhập
          <i class="fas fa-sign-in-alt "></i>
        </a>
      </li>
    </ul>
    <div ngbDropdown class="d-inline-block" placement="bottom-right" *ngIf="(islogin | async) && user">
      <span id="dropdownBasic1" ngbDropdownToggle>
        <img src="{{user.photoUrl}}" alt="avatar" height="40px" width="40px" style="border-radius: 50%"> {{user.name}}</span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" routerLink="/admin/profile">
          <i class="far fa-user"></i> Hồ sơ</a>
        <button class="dropdown-item" (click)="signOut()" style="cursor: pointer;">
          <i class="fas fa-sign-out-alt"></i> Thoát</button>
      </div>
    </div>
  </div>
</nav>