<div class="content">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <div class="card border-light mb-3">
        <div class="card-header">Đăng nhập</div>
        <div class="card-body text-dark">
          <button class="btn btn-danger btn-block" (click)="signInWithGoogle()">
            <i class="fab fa-google-plus-g"></i> google</button>
          <br/>
          <p>Hoặc</p>
          <button class="btn btn-primary btn-block" (click)="signInWithFB()">
            <i class="fab fa-facebook-f"></i> Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>