<div class="main content">
  <ngb-tabset [justify]="currentJustify">
    <ngb-tab title="Thông tin chung">
      <ng-template ngbTabContent>
        <div style="margin-top: 40px;" class="text-left">
          <h4>Tên khóa học:
            <i>{{course?.course_name}}</i>
          </h4>
          <h5>Mô tả :
            <i>{{course?.course_description}}</i>
          </h5>
          <h6>Thời gian bắt đầu
            <img src="../../assets/calendar.svg" height="20px" width="20px" alt=""> : <i>{{course?.date_start}}</i></h6>
          <h6>Thời gian kết thúc
            <img src="../../assets/calendar.svg" height="20px" width="20px" alt=""> : <i>{{course?.date_end}}</i></h6>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="far fa-bell"></i> Xem thông báo
      </ng-template>
      <ng-template ngbTabContent>
        <app-notification-page></app-notification-page>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fas fa-search"></i> Tra cứu Điểm
      </ng-template>
      <ng-template ngbTabContent>
        <app-check-score></app-check-score>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="far fa-file"></i> Tài nguyên khóa học
      </ng-template>
      <ng-template ngbTabContent>
        <app-resources-page></app-resources-page>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>