<div class="main content">
  <h2>Thống kê</h2>
  <div class="row justify-content-around">
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
      <div class="card-header">Khóa học</div>
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../assets/clipboard.svg" alt="">
        </h5>
        <p class="card-text text-center">
          <i>50 Khóa học</i>
        </p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3" style="width: 18rem;">
      <div class="card-header">Học viên</div>
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../assets/reading.svg" alt="">
        </h5>
        <p class="card-text text-center">
          <i>50 học viên</i>
        </p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="width: 18rem;">
      <div class="card-header">Tài nguyên</div>
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../assets/slides.svg" alt="">
        </h5>
        <p class="card-text text-center">
          <i>50 tài nguyên</i>
        </p>
      </div>
    </div>
  </div>
</div>