html,body{
    height: 100%;
    width: 100%;
    background: #dfe3ff;
}
body{
    padding: 0;
    margin: 0;
}
.main{
    margin-top: 20px;
    background: #fff;
}
.content{
    padding: 50px
}
@media only screen and (max-width: 600px) {
    .content{
        padding: 30px 5px;
    }
}
.btn{
    border-radius: 0;
}
.form-control{
    border-radius: 0;
}